a {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(0);
  transition: all 0.3s;
}

a:hover {
  transition: all 0.3s;
  opacity: 1;
  transform: scale(1);
}

.nav-hidden {
  opacity: 0;
  transition: 0.3s all;
}

.nav-middle {
  opacity: 1;
  position: -webkit-sticky;
  position: sticky;

  transition: 0.3s all;
}

.mobileNav {
  @apply w-full p-0 m-0 hidden;
  transform: translateY(-10rem);
  transition: all 0.3s;
  opacity: 0;
}

.mobileNavActive {
  @apply md:hidden visible;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  transform: translateY(7rem);
  background: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  transition: all 0.3s;
  opacity: 1;
}
