@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  margin: 0;
  -webkit-user-select: none;
  user-select: none;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active {
  font-weight: 500;
  opacity: 1;
}

input {
  background-color: transparent;
  border-radius: 0.375rem;
  padding: 1rem;
  border: 1px solid gray;
  margin: 1rem;
}

.horLine {
  width: 0;
  animation-name: drawline;
  animation-duration: 1.5s;
  animation-timing: ease-in;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

@keyframes drawline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.fade {
  opacity: 0;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-timing: ease-in;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}

@keyframes fade {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
